<div class="container">
<div class="row">
<div class="col-lg-4 mx-auto">

<h2>Editing Book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<!--アプリケーションを完成させよう / 5章【編集機能を作ろう】-->
<!--アプリケーションを完成させよう2 / 16章【ユーザーに関する機能(3) - ユーザー情報の編集】-->
<%= form_with model: @book, url:update_book_path(@book.id), method: :patch do |f| %>

  <p>Title</p>
  <div class="form-group">
  <%= f.text_field :title,class: "form-control" %>
  </div>

  <p>Opinion</p>
  <div class="form-group">
    <%= f.text_area :body,class: "form-control" %>
  </div>

  <%= f.submit 'Updata Book', class: "btn btn-success" %><br><br>

  <%= link_to "Show", book_path(@book.id) %> |
  <%= link_to "Back", ("/books") %>

<% end %>

</div>
</div>
</div>