<div class="container">

<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <div class="row">
    <div class="col-md-3">

<div class="container px-10">
<div class="row">
<div class="col-lg-12">

  <h3>User info</h3>

<!--アプリケーションを完成させよう / 2章 / 投稿フォームを作成する-->
<!--アプリケーションを完成させよう / 6章 / ビューで画像を表示する-->
  <%= image_tag current_user.get_profile_image, size:"100x100" %>

<table class="table">
  <tbody>
    <tr>
	    <th width="30%">name</th>
	    <th><%= current_user.name %></th>
    </tr>
    <tr>
	    <th>introduction</th>
	    <th><%= current_user.introduction %></th>
    </tr>
  </tbody>
</table>

    <%= link_to edit_user_path(current_user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog" aria-hidden="true"></i>
    <% end %><br>



    <!--アプリケーションを完成させよう2 / 20章 / 【共通のレイアウトを部分テンプレートでまとめよう】-->
<%= render partial: 'books/list', locals:  { book: @book } %>



  </div>
  <div class="col-md-8 offset-md-1">
<!--アプリケーションを完成させよう / 3章/ コントローラにindexアクションを追加する-->
<h2>Books</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>

<% @books.each do |book| %>

  <tbody>
    <tr>
      <td>
        <!--アプリケーションを完成させよう2 / 17章-->
        <%= link_to user_path(book.id) do %>
          <%= image_tag book.user.get_profile_image, size:"100x100" %>
        <% end %>
      </td>
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
    </tr>
  </tbody>

<% end %>

  </thead>
</table>


  </div>
  </div>
  </div>